* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #8C8987;
  margin: 0;
  color: #401B22;
  font-family: 'Roboto', sans-serif;
}

.hero {
  padding: 50px;
  background: linear-gradient(0deg,
      #D7D7D9 0%,
      #D7D7D9 23%,
      #8c8987 100%);
  padding-bottom: 155px;
}

.container {
  width: 90%;
  max-width: 945px;
  margin: auto;
}

.section {
  padding-top: 64px;
  padding-bottom: 92px;
}

.section-title {
  margin: 0;
  margin-bottom: 84px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
}

.social-links {
  display: flex;
}

.social-link {
  margin-left: 20px;
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.5s;
}

.social-link:first-child {
  margin-left: 0;
}

.social-link:hover {
  background-color: #D7D7D9;
  box-shadow: inset 0px 0px 6px #73564F;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  text-align: right;
}

.hero-subtitle {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: #8C324A;
  margin-bottom: 14px;
}

.hero-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  margin-top: 0;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 16px;
  line-height: 28px;
  max-width: 420px;
  margin-bottom: 30px;
}

.button {
  background-color: #401b22;
  box-shadow: 0px 4px 0px #73564F;
  color: #D7D7D9;
  border: none;
  border-radius: 5px 5px 10px 10px;
  padding: 24px 42px;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}

.button:hover {
  background-color: #73564F;
  box-shadow: 0px 4px 0px #401b22;
}

.hero-avatar {
  width: 389px;
  height: 389px;
  border-radius: 50%;
  background-image: url('../img/avatar.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  border: 13px solid #8C8987;
}

/* features */
.features {
  background-color: #D7D7D9;
}

.features-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-item {
  flex-basis: 30%;
  margin-bottom: 63px;
}

.features-image {
  width: 50px;
  margin-bottom: 22px;
}

.features-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 22px;
}

.features-text {
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

/* projects */
.project {
  background: linear-gradient(180deg,
      #D7D7D9 0%,
      #8c8987 100%);
}

.project-slide {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.project-text {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
}

.project-title {
  flex-basis: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 41px;
}

.project-time,
.project-cost {
  flex-basis: 50%;
  margin-bottom: 44px;
}

.project-time,
.project-cost,
.project-feedback {
  display: flex;
  align-items: flex-start;
}

.project-subtitle {
  margin: 0;
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.project-paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
}

.project-icon {
  margin-right: 16px;
}

.projects-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
}

.projects-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #401B22;
  border-radius: 50%;
  margin: 0 5px;
}

.projects-bullet-active {
  background-color: #401B22;
}

/* contacts */
.contacts-form {
  background-color: #D7D7D9;
  box-shadow: -5px 5px 0px #73564F;
  border-radius: 5px;
  max-width: 380px;
  padding: 40px 48px 48px 48px;
}

.form-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 29px;
}

.input {
  background: #f8f8f8;
  border: none;
  box-shadow: inset 0px 3px 10px #c7c7c740;
  border-radius: 5px;
  padding: 18px 20px 18px 50px;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
}

.input-name {
  margin-bottom: 17px;
  background-image: url(../img/user-icon.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
}

.input-phone {
  margin-bottom: 17px;
  background-image: url(../img/phone-icon.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
}

.form-button {
  min-width: 100%;
}

.contacts-blok {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-text {
  flex-basis: 50%;
}

.contacts-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
}

.contacts-phone,
.contacts-mail {
  flex-basis: 50%;
  margin-bottom: 53px;
}

.contacts-social {
  flex-basis: 100%;
}

.contacts-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-link {
  text-decoration: none;
  color: inherit;
  margin-right: 37px;
}

.contacts-link:hover {
  text-decoration: underline;
}

.contacts-policy {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #401B22;
  margin-top: 72px;
}

/* responsive */

@media (max-width: 1100px) {
  .hero-avatar {
    width: 300px;
    height: 300px;
    border-width: 10px;
  }
}

@media (max-width: 836px) {
  .hero-content {
    flex-direction: column;
  }

  .hero-avatar {
    order: 0;
    width: 300px;
    height: 300px;
    border-width: 10px;
    margin-bottom: 17px;
  }

  .hero-text {
    order: 1;
    text-align: center;
  }

  .section-title {
    text-align: center;
  }

  .features-item {
    flex-basis: 45%;
  }

  .project-slide {
    flex-direction: column;
    align-items: center;
  }

  .porject-image {
    margin-bottom: 46px;
  }

  .project-title {
    text-align: center;
  }

  .contacts-blok {
    flex-direction: column;
  }

  .contacts-form {
    margin-bottom: 58px;
  }
}

@media (max-width: 564px) {
  .hero {
    padding-bottom: 75px;
  }

  .hero-avatar {
    width: 113px;
    height: 113px;
    border-width: 4px;
    background-size: 100%;
    background-position: center top;
  }

  .hero-subtitle {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 5px;
  }

  .hero-header {
    margin-bottom: 38px;
  }

  .social-link {
    margin-left: 5px;
  }

  .hero-title {
    font-size: 24px;
    line-height: 28px;
  }

  .hero-description {
    font-size: 14px;
    line-height: 20px;
  }

  .section {
    padding: 60px 0;
  }

  .section-title {
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 60px;
  }

  .features-item {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .features-title {
    font-size: 18px;
    line-height: 28px;
  }

  .features-text {
    font-size: 14px;
    line-height: 28px;
  }

  .project-title {
    font-size: 18px;
  }

  .project-time,
  .project-cost,
  .project-feedback {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .project-paragraph {
    font-size: 14px;
  }

  .contacts-form {
    padding: 40px 19px;
  }

  .form-title {
    font-size: 15px;
  }

  .form-button {
    font-size: 10px;
  }

  .contacts-phone,
  .contacts-mail {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .contacts-title {
    font-size: 18px;
    line-height: 21px;
  }

  .contacts-link {
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 13px;
  }
}